body {
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background{
    background-image: url('img/logo-tkh.png');
    background-repeat: repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.05;
    background-size: 1.5%;
    transform: scale(150%) rotate(10deg);
}

.title-container{
    margin-top: 0.5%;
    text-align: center;
}

.separator{
    width: 90%;
}

.logo-container{
    position: relative;
    width: 100%;
    max-width: 500px;
    height: auto;
    text-align: center;
    margin-top: 10%;
}

.logo{
    width: 20%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.buffer{
    width: 50%;
    display: block;
    margin: auto;
}

footer{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 1%;
    display: flex; /* Add flex display */
    flex-direction: column; /* Stack images vertically */
    align-items: center; /* Center the items horizontally */
}

.logo-footer{
    width: 10%;
}

.title-footer{
    width: 20%;
}


/*ROTAZIONE CARICAMENTO*/
.rotate {
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}