/* GALLERY */
#portfolio {
    height: auto;
  }
  
  .grid {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  
  .grid-item {
    max-width: 30%;
    text-align: center;
  }
  
  .grid-item img {
    width: 100%;
  }