/* IMPORT FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* RESET & GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
}
  
html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}
  
body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
}
  
p {
    color: rgb(85, 85, 85);
}

.subtitle{
  color: rgb(85, 85, 85);
}

a {
    color: black !important;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration-color 0.3s ease, text-underline-offset 0.3s ease;
}

a:hover {
    color: grey !important;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

a.nav-link{
    font-size: 1.5em;
}

/* BUTTONS */
.button-container {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  }
  
.button {
    font-weight: 600;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    background: none;
    color: rgb(53, 53, 53);
}
  
.button:hover {
    text-decoration: none;
    cursor: pointer;
    background: rgb(53, 53, 53);
    color: white !important;
}
  
.button.active {
    background-color: rgb(53, 53, 53);
    color: white !important;
}

/*INDEX.HTML*/
.logo-name{
    font-size: 1.5em;
}

.logo-img {
    max-height: 4rem;
    width: auto;
}

.profile-pic{
    max-width: 80%;
    height: auto;
}

.profile-description{
  text-align: justify;
}

#sound-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
    transition: transform 0.3s ease, filter 0.3s ease; /* Transizione per zoom e colore */
 }

 /* Animazione per l'effetto pulsazione */
 @keyframes pulse {
    0% {
       transform: scale(1); /* Inizialmente la dimensione originale */
    }
    25% {
       transform: scale(1.2); /* Primo ingrandimento */
    }
    50% {
       transform: scale(1); /* Torna alla dimensione originale*/
    }
    75% {
       transform: scale(1.2); /* Secondo ingrandimento */
    }
    100% {
       transform: scale(1); /* Torna alla dimensione originale */
    }
 }

 /* Classe per applicare l'animazione */
 .sound-active {
    animation: pulse 1s ease-out 1; /* L'animazione pulsante si ripete 1 volta, ma in modo esteso */
 }
/*PROJECTS.HTML*/

.project-media img {
    max-width: 400px;
    height: auto;
}
  
.project-item {
    text-align: center;
}

.project-separator{
  width: 90%; 
  border: 1px solid #454444;
}


/*MEDIA QUERIES*/
@media (max-width: 768px) {
    a.nav-link{
        font-size: 1em;
    }
    
    .logo-name{
        font-size: 1em;
    }
  
    .logo-img{
      max-height: 3rem;
    }

    .profile-pic {
        max-width: 60%;
    }

}

@media (max-width: 576px) {
    .profile-pic {
       max-width: 50%; /* Ancora più piccola su dispositivi mobile */
    }
}