/* IMPORT FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
/*VARIABLES FOR THEMES*/
[data-theme="light"]{
    --bg-color : white;
    --main-color: black;
    --secundary-color: rgb(85, 85, 85);
    --button-border-color:rgb(85, 85, 85);
    --button-bg-color: rgb(85, 85, 85);
    --button-text-color: white;
    --a-underline-color: rgb(180, 180, 180);
    --project-item-shadow: rgb(216, 216, 216);
}

[data-theme="dark"]{
    --bg-color : black;
    --main-color: white;
    --secundary-color: rgb(210, 210, 210);
    --button-border-color:rgb(210, 210, 210);
    --button-bg-color: rgb(210, 210, 210);
    --button-text-color: white;
    --a-underline-color: rgb(180, 180, 180);
    --project-item-shadow: rgb(62, 62, 62);
}

/* RESET & GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
}
  
html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    background-color: var(--bg-color);
}

.navbar{
    background-color: var(--bg-color) !important;
}

.navbar-toggler{
    border: none;
}
  
body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
}
  
p {
    color: var(--secundary-color);
}

.subtitle{
  color: var(--secundary-color);
}

.title{
    color: var(--main-color);
}

a {
    color: var(--main-color) !important;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration-color 0.3s ease, text-underline-offset 0.3s ease;
}

a:hover {
    color: var(--secundary-color) !important;
    text-decoration: underline;
    text-underline-offset: 0.7rem;
    text-decoration-color: var(--a-underline-color);
}

a.nav-link{
    font-size: 1.5em;
    color: var(--main-color) !important;
}
.offcanvas-header,
.offcanvas-body{
    background-color: var(--bg-color) !important;
}

/* BUTTONS */
.button-container {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  }
  
.button {
    font-weight: 600;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    border: var(--button-border-color) 0.1rem solid;
    color: var(--button-bg-color);
    background: none;
    
}
  
.button:hover {
    text-decoration: none;
    cursor: pointer;
    color: var(--button-text-color) !important;
    background: var(--button-bg-color);
}
  
.button.active {
    background-color: var(--button-bg-color);
    border: var(--button-border-color) 0.1rem solid;
    color: var(--button-text-color) !important;
}

.button.disabled{
    display: none;
}

/*INDEX.HTML*/
.logo-name{
    font-size: 1.3em;
    font-family: 'Rock Salt', cursive;
}

.logo-img {
    max-height: 4rem;
    width: auto;
}
.nav-logo:hover img{
    transition: opacity 0.3s ease;
}
.nav-logo:hover img{
    opacity: 80%;
}

.profile-pic{
    max-width: 80%;
    height: auto;
}

.profile-description{
  text-align: justify;
}

.contact-icons{
    margin-top: 2rem;
}

.darkmode-switch-icon{
    position: fixed;
    bottom: 1.5rem;
    left: 1.5rem;
    cursor: pointer;
    z-index: 1;
}

#sound-icon {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.3s ease, filter 0.3s ease; /* Transizione per zoom e colore */
 }

 .footer-link:hover {
    text-decoration: none !important;
 }

 /* Animazione per l'effetto pulsazione */
@keyframes pulse {
    0% {
       transform: scale(1); /* Inizialmente la dimensione originale */
    }
    25% {
       transform: scale(1.2); /* Primo ingrandimento */
    }
    50% {
       transform: scale(1); /* Torna alla dimensione originale*/
    }
    75% {
       transform: scale(1.2); /* Secondo ingrandimento */
    }
    100% {
       transform: scale(1); /* Torna alla dimensione originale */
    }
}

/* Classe per applicare l'animazione */
.sound-active {
    animation: pulse 1s ease-out 1; /* L'animazione pulsante si ripete 1 volta, ma in modo esteso */
}


/*PROJECTS.HTML*/

/*Dimensioni immagini 500x300px*/
  
.project-item {
    text-align: center;
}

.project-separator{
  width: 90%; 
  color: var(--secundary-color);
}

.project-title{
    color: var(--main-color);
}

.project-description{
    color: var(--secundary-color);
}


/*MEDIA QUERIES*/
@media (max-width: 768px) {
   
    
    .logo-name{
        font-size: 1em;
    }
  
    .logo-img{
      max-height: 3rem;
    }

    .profile-pic {
        max-width: 60%;
    }

}

@media (max-width: 576px) {
    .profile-pic {
       max-width: 50%; /* Ancora più piccola su dispositivi mobile */
    }
}